{% extends "blog/master.html" %}
{% block title %}Our Blog{% endblock %}

{% block content %}
    <div class="row" >
   <h2 class="page-header">Recents Posts</h2>
        <br>
    </div>
    {% for post in posts %}
       <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        <p class="small" style="color: #777777">Published {{ post.publish }} by {{ post.author }}</p>
        <p>{{ post.body|truncatewords:25|linebreaks }}</p>
    {% endfor %}

    {% include "paginator.html" with page=posts %}
{% endblock %}


